---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Link from '@components/Link.astro';

import { SOCIALS, SITE } from '@consts';
---

<Layout
	title='About'
	description='About meee'>
	<Container>
		<h4 class='animate font-semibold text-black dark:text-white'>
			Hi, I'm Kacper <span class='text-xl'>👋🏻</span>
		</h4>
		<div class='space-y-16'>
			<section>
				<article class='space-y-4'>
					<p class='animate text-justify'>
						I am an aspiring software developer currently living in the city of
						Opole, Poland. I am in my final year of studying Computer Science at
						the Opole University of Technology. My main interest lies in web
						dev, web security and authentication methods. I also try to learn
						more about Large language models and AI in general. In my work i
						mainly use TypeScript, Golang & Python.
					</p>

					<section class='animate space-y-4'>
						<p class='text-justify'>
							I'm currently looking for a job / internship in any software
							development role. Here is my <Link
								href='https://www.google.com'
								external
								>CV</Link
							>.
						</p>
					</section>

					<section class='animate space-y-4'>
						<article>
							<p>
								If you want to get in touch with me about something or just to
								say hi, reach out on social media or send me an email.
							</p>
						</article>
						<ul class='flex flex-wrap'>
							{
								SOCIALS.map((SOCIAL) => (
									<li class='flex gap-x-2 text-nowrap'>
										<Link
											href={SOCIAL.HREF}
											external
											aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
											{SOCIAL.NAME}
										</Link>
										{'/'}
									</li>
								))
							}
							<li class='line-clamp-1'>
								<Link
									href={`mailto:${SITE.EMAIL}`}
									aria-label={`Email ${SITE.NAME}`}>
									gmail
								</Link>
							</li>
						</ul>
					</section>
				</article>
			</section>
		</div>
	</Container>
</Layout>
